{% extends "common/layout.njk" %}

{% block body %}
  {{ super() }}
  <h1>SSO</h1>
  <a href="/sso/auth/facebook">Facebook</a>
  <br>
  <a href="/sso/auth/twitter">Twitter</a>
  <br>
  <a href="/sso/auth/linkedin">Linkedin</a>
{% endblock %}
