$sb-post-meta-margin: 0.5em;

.sb-post-meta {
  align-items: center;
  color: $gray-light;
  display: flex;
}

.sb-post-meta-top {
  margin-bottom: $sb-post-meta-margin;
}

.sb-post-meta-bottom {
  margin-top: $sb-post-meta-margin;
}

.sb-post-meta-primary {
  align-items: center;
  display: flex;
  flex-grow: 1;
}

.sb-post-meta-secondary {
  align-self: flex-start;
  flex-shrink: 1;
}
