{
  "env": {
    "client": {
      "extends": "./.babelrc-client.json"
    },
    "test": {
      "extends": "./.babelrc-test.json",
    },
    "server": {
      "extends": "./.babelrc-server.json",
    }
  }
}
