.sb-al-menu {
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;
}

.sb-al-label {
  color: $text-muted;
  font-size: $font-size-sm;
  margin: 0;
  text-transform: uppercase;
}

.sb-al-list {
  list-style: none;
  padding: 0;
}
