.sb-post-actions {
  border-top: 1px dotted $border;
}

.sb-post-action {
  background: none;
  border: 0;
  cursor: pointer;
  color: $link-color;
  display: inline-block;
  padding: $card-spacer-y $card-spacer-x;
  vertical-align: middle;

  &:hover,
  &:focus,
  &.active {
    background-color: shade($card-bg, 2%);
    color: $link-hover-color;
    text-decoration: none;
  }

  &[disabled] {
    background-color: shade($card-bg, 2%);
    color: $text-muted;
  }

  + .sb-post-action {
    border-left: 1px dotted $border;
  }

  > .form-control {
    background: none;
    border: 0;
    color: $link-color;
    padding: rem(2px) 0;

    &:hover,
    &:focus {
      color: $link-hover-color;
    }
  }
}

.sb-post-actions-secondary {
  float: right;
}

.sb-post-action.rdt {
  > .form-control {
    padding-left: $card-spacer-x;
  }

  &::after {
    top: rem(13px);
    left: $card-spacer-x;
    right: auto;
  }
}
