.sb-scheduled-post {
  .sb-post-type {
    position: absolute;
    right: $card-spacer-x;
  }
  .sb-post-textarea {
    padding-right: rem(100px);
  }
  .sb-img-picker {
    float: left;

    &.active {
      border: 1px solid $border;
      padding: $input-padding-y;
    }
  }
}

.sb-scheduled-post-posted {
  $bg: #fafff2;
  $border: #e4e7df;

  background: $bg;
  border-color: $border;
  box-shadow: 0 2px 0 $border;

  .sb-post-action {
    &:hover,
    &:focus {
      background: shade($bg, 2%);
    }
  }
}
