.sb-page {
  display: flex;
  position: relative;
}

.sb-page-sidebar {
  background: $white;
  min-height: calc(100vh - #{$navbar-height});
  box-shadow: $shadow-border;
}

.sb-page-content {
  flex-grow: 1;
}
