.navbar-placeholder {
  height: $navbar-height;
}

.navbar .nav-link {
  padding-top: $navbar-divider-padding-y;
  padding-bottom: $navbar-divider-padding-y;
}

.navbar-dark {
  background: $brand-primary;
}
