{% extends "common/layout.njk" %}

{% block body %}
  {% include "common/navbar.njk" %}

  <div class="container pt-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h1>DASY TERMS OF SERVICE</h1>

        <p>
          Last Modified: January 05, 2016
        </p>

        <p>
          You are now reading Dasy’s Terms of Service, which is the agreement between you and Dasy when
          you use our website and other products and services. Please carefully read this as well as our
          <a href="/privacy-policy">Privacy Policy</a> before you start using Dasy.
          We've tried to make it straightforward and fair for our users.
          If you have questions or suggestions, shoot us <a href="mailto:{{ LEGAL_EMAIL }}">an email<a>.
          We've also provided a few comments - these comments are not a part of the agreement,
          but are intended to help point out key sections so you can easily follow the agreement.
        </p>
        <p>
          This Agreement sets forth the terms and conditions ("Terms of Service") which is a
          binding agreement between you, or any other person who accidently or intentionally accesses
          the Dasy products or services ("Products and Services") which include use of a mobile app,
          desktop app, or website. For sake of ease, Dasy will be referred to as "we", "us" or "Dasy"
          and the user (you!) will be referred to as "You" or the "User".
          By using our Products and Services, you agree to be bound by these Terms of Service.
          If you do not agree with the Terms of Service or our Privacy Policy, you should not,
          and are not permitted to use our Products and Services.
        </p>

        <h2>
          A Little About Dasy
        </h2>
        <p>
          Dasy Labs, Inc. is a Delaware corporation, with a principal place of business of
          1064 Wilsham Dr., San Jose, CA 95132.
        </p>

        <h2>
          Changes to the Terms of Service
        </h2>
        <p>
          We may periodically revise and update these Terms of service, and will post a revised
          Agreement if this happens. Any changes made are effective as soon as we post them, and apply
          to the use and access of our Products and Services. You are responsible for reviewing
          and becoming familiar with any modifications to this Agreement. If you start using the
          Products and Services after any modification to the Agreement,
          you are agreeing to the changes. If you don't agree to the changes, you should not
          and are not permitted to use the Products and Services.
        </p>
        <p>
          Comment: As Dasy develops its Products and Services,
          we may make changes to the Terms of Service. When we do, we'll let you know.
        </p>

        <h2>
          Who Can Use Dasy?
        </h2>
        <p>
          Our Products and Services are offered and available to users who are 18 years of age or older.
          By using our Products and Services, you represent and warrant that you are of a legal age
          to form a binding contract with us. If you are not of legal age,
          you must not access our Products and Services.
        </p>
        <p>
          Comment: You must be 18 to use Dasy. We know you may want to use it if you're younger,
          but seriously, just hold on a few years and get back to us when you turn 18.
        </p>

        <h2>
          Changes and Account Security
        </h2>
        <p>
          Our Products and Services may change, which may include new functionality,
          removal of certain functions, or even discontinuation of the Products and Services.
          We may do so without prior notice to you. We are not liable for any reason if all or any part
          of the Products and Service are unavailable at any time or for any period. From time to time,
          we may restrict access to some parts of the Products and Services, to users,
          including registered users, or within our sole discretion, suspend your account.
        </p>
        <p>
          Comment: Dasy is always changing and so we need some flexibility to get rid of things that you,
          the user don't like. Sometimes, we may get rid of something you did like but trust us,
          it's for the greater good. We may suspend accounts but we'll do our best to be fair and
          transparent about this.
        </p>
        <p>
          You are responsible for making all arrangements for you to have access our
          Products and Services, and that anyone who uses your account understands and agrees with
          the Terms and Conditions and complies with them.
        </p>
        <p>
          To access the Products and Services, you may be asked to provide certain registration details,
          or authorize Dasy to have access to third party software and pull information
          from other sources. It is a condition of your use of the Products and Services
          that all the information you provide is correct, current and complete. You agree that
          the information you provide to register an account with us and to use
          our Products and Services is governed by these Terms of Service and our
          <a href="/privacy-policy">Privacy Policy</a>, and consent to all actions we take
          with respect to your information as consistent with our Privacy Policy.
        </p>
        <p>
          Comment: We want to make sure the information Dasy provides you is current and up to date,
          and so any linked accounts, or your email address should be updated regularly
          to get the most of out Dasy.
        </p>
        <p>
          If you choose, or are provided with, a user name, password or any other piece of information
          as part of our security procedures, you must treat such information as confidential,
          and you must not disclose it to any other person or entity. You also acknowledge that
          your account is personal to you and agree not to provide any other person with access to this
          Website or portions of it using your user name, password or other security information.
          You agree to notify us immediately of any unauthorized access to or use of your user name or
          password or any other breach of security. You also agree to ensure that you exit from your
          account at the end of each session. You should use particular caution when accessing your
          account from a public or shared computer so that others are not able to view or record your
          password or other personal information.
        </p>
        <p>
          Comment: Look, don't share your username or password with other people.
          Dasy can be a powerful tool for your business so make sure to keep your login information private!
        </p>

        <h2>
          Limitations on Use
        </h2>
        <p>
          You may use our Products and Services for lawful purposes and in accordance with
          our Terms of Services. You agree not to use our Products and Services:
        </p>
        <p>
          In any way that violates any applicable federal, state, local or international law or
          regulation (including, without limitation, any laws regarding the export of data or
          software to and from the US or other countries).
        </p>
        <p>
          For the purpose of exploiting, harming or attempting to exploit or harm minors in any way by
          exposing them to inappropriate content, or providing information to others.
        </p>
        <p>
          To transmit, or procure the sending of, any advertising or promotional material, including
          any "junk mail", "chain letter" or "spam" or any other similar solicitation.
        </p>
        <p>
          To impersonate or attempt to impersonate Dasy employee, another user or any other person or
          entity (including, without limitation, by using e-mail addresses or
          screen names associated with any of the foregoing).
        </p>
        <p>
          To engage in any other conduct that restricts or inhibits anyone's use or enjoyment of
          the Products and Services, or which, as determined by us, may harm Dasy or our users or
          expose them to liability.
        </p>

        <h2>
          Additionally, you agree not to:
        </h2>
        <p>
          Use the Products and Services in any manner that could disable, overburden, damage, or
          impair the Products and Services or interfere with any other party's use of
          the Products and Services, including their ability to engage in real time activities through
          the Products and Services.
        </p>
        <p>
          Use any robot, spider or other automatic device, process or means to access the
          Product and Services for any purpose, including monitoring or copying any of the
          material available from us or third parties through Dasy.
        </p>
        <p>
          Use any manual process to monitor or copy any of the material found in the
          Products and Services or for any other unauthorized purpose without our prior written consent.
        </p>
        <p>
          Use any device, software or routine that interferes with the proper working of the Products and Services.
        </p>
        <p>
          Introduce any viruses, trojan horses, worms, logic bombs or other material which
          is malicious or technologically harmful.
        </p>
        <p>
          Attempt to gain unauthorized access to, interfere with, damage or disrupt any parts of
          the Products and Services, the server on which the Products and Services are stored, or
          any server, computer or database connected to the Products and Services.
        </p>
        <p>
          Attack the Products and Services or our website via a denial-of-service attack or
          a distributed denial-of-service attack.
        </p>
        <p>
          Otherwise attempt to interfere with the proper working of the Products and Services.
        </p>
        <p>
          This is not a complete list, but intended to simply be examples of prohibited uses.
        </p>
        <p>
          Comment: Don't do bad things to Dasy or use Dasy to do bad things to others.
          Don't take information collected by Dasy or available through Dasy for other means or
          distribute the information you access through our Products and Services.
        </p>

        <h2>
          Intellectual Property Rights
        </h2>
        <p>
          The Products and Services, all content, features and functionality (including but not limited to
          all information, software, text, displays, images, video and audio, and the design,
          selection and arrangement thereof), are owned by the Dasy, its licensors or other providers of
          such material and are protected by United States and international copyright, trademark, patent,
          trade secret and other intellectual property or proprietary rights laws.
        </p>
        <p>
          These Terms of Service permit you to use Dasy for the intended use as set forth herein only.
          You must not reproduce, distribute, modify, create derivative works of, publicly display,
          publicly perform, republish, download, store or transmit any of the material found on the
          Products and Services, except as follows:
        </p>
        <p>
          Your computer or phone may temporarily store copies of such materials in RAM incidental to
          your accessing and viewing those materials.
        </p>
        <p>
          You may store files that are automatically cached by your Web browser for display enhancement
          purposes, should we provide a web-based platform not tied to your phone.
        </p>
        <p>
          If we provide desktop, mobile or other applications for download, you may download a
          single copy to your computer or mobile device solely for your own personal, non-commercial use,
          provided you agree to be bound by our end user license agreement for such applications.
        </p>
        <p>
          You must not access or use for any commercial purposes any information found through
          the Products and Services.
        </p>
        <p>
          Comment: You may see some trademarks of other companies, or see information posted by
          someone else through Dasy. This is all property of the original provider of the information,
          so don't use it without permission. You could get in trouble for using information you
          find through Dasy, and can only use this information for yourself and not for commercial
          purposes (like scraping information for a database or compiling information to sell to someone else).
        </p>
        <p>
          "Dasy" and all related names, designs, and slogans are property of Dasy or
          its affiliates or licensors. You must use such marks without prior written permission of Dasy.
          All other names, logos, product and service names, designs, and slogans you may encounter by
          using Dasy are property of their respective owners and are not affiliated in any way with Dasy.
        </p>

        <h2>
          User Contributions
        </h2>
        <p>
          Dasy allows you to post, submit, publish, display or transmit information through Dasy ("User Contributions"),
          which you can view through our Products and Services or shared through other platforms
          (such as Facebook or Twitter). Any content you post must comply with the content standards as
          set forth in these Terms of Service.
        </p>
        <p>
          Any information you post, submit, publish, display or transmit through Dasy, may
          become publicly available on third party websites depending on your settings.
          You represent and warrant that you own or control all rights in any information you
          provide and that this information complies with these Terms of Service.
          You understand and acknowledge that you are responsible for any User Contributions you
          submit or contribute, and you, not Dasy, have full responsibility for such content,
          including its legality, reliability, accuracy and appropriateness. We are not responsible, or
          liable to any third party, for the content or accuracy of any User Contributions posted by
          you or any other user of our Products and Services.
        </p>
        <p>
          You retain the right to all intellectual property of the User Contributions.
        </p>
        <p>
          Comment: If you post something - it's your property, not ours. Don't post anything you
          don't want made public as anything you submit may be indexed by third parties.
          If you're concerned, best bet is to not publish or share anything you want to keep private.
          Don’t post anything that doesn’t belong to you without getting permission.
        </p>

        <h2>
          Monitoring and Enforcement
        </h2>
        <p>
          We have the right to:
        </p>
        <p>
          Remove or refuse to post any User Contributions for any or no reason in our sole discretion.
        </p>
        <p>
          Take any action with respect to any User Contribution that we deem necessary or appropriate in
          our sole discretion, including if we believe that such User Contribution violates the
          Terms of Service, infringes any intellectual property right or other right of any person or entity,
          threatens the personal safety of users of the Website or the public or could create liability for Dasy.
        </p>
        <p>
          Take appropriate legal action, including without limitation, referral to law enforcement,
          for any illegal or unauthorized use of the Products and Services.
        </p>
        <p>
          Terminate or suspend your access to all or part of the Products and Services for any or
          no reason, including without limitation, any violation of these Terms of Service.
        </p>
        <p>
          Dasy does not have an obligation to monitor your access to our Products and Services,
          to review or edit any User Contributions, but we have the right to do so should it become
          necessary in our sole discretion.
        </p>
        <p>
          Without limiting the foregoing, we have the right to fully cooperate with any law enforcement
          authorities or court order requesting or directing us to disclose the identity or
          other information of anyone posting any materials on or through our Products and Services.
          YOU WAIVE AND HOLD HARMLESS DASY AND ITS AFFILIATES, LICENSEES AND SERVICE PROVIDERS FROM
          ANY CLAIMS RESULTING FROM ANY ACTION TAKEN BY DASY AND ANY OF THE FOREGOING PARTIES DURING OR
          AS A RESULT OF ITS INVESTIGATIONS AND FROM ANY ACTIONS TAKEN AS A CONSEQUENCE OF
          INVESTIGATIONS BY EITHER SUCH PARTIES OR LAW ENFORCEMENT AUTHORITIES.
        </p>
        <p>
          However, we cannot review all material before it is published or otherwise posted through the
          Products and Services, and cannot ensure prompt removal of objectionable material after it
          has been posted. Accordingly, we assume no liability for any action or inaction regarding
          transmissions, communications or content provided by any user or third party.
          We have no liability or responsibility to anyone for performance or nonperformance of
          the activities described in this section.
        </p>
        <p>
          Comment: We may have to delete things you post for safety and/or security reasons.
          However, we do not have an obligation to monitor your access so use Dasy responsibly!
        </p>

        <h2>
          Termination and Deletion of User Contributions
        </h2>
        <p>
          Upon termination of your account, or upon your deletion of particular User Contributions
          (whether from Dasy or from third parties), Dasy shall make reasonable efforts to make such
          User Contributions inaccessible and cease use of it. However, you acknowledge and agree that
            i) such User Contributions may persist in backups for a reasonable period of time;
            ii) caching of, copies of, or references to User Contributions may not be immediately removed;
            and iii) such removed User Contributions may be available (and stored on our servers) through the accounts of other users.
        </p>

        <h2>
          Links from Dasy
        </h2>
        <p>
          If our Products and Services contain links to other websites, products, or resources provided by
          third parties, such links are provided for your convenience only.
          This includes links contained in advertisements, including banner advertisements and
          sponsored links, if any. We have no control over the contents of those sites or resources, and
          accept no responsibility for them or for any loss or damage that may arise from your use of them.
          If you decide to access any of the third party websites from Dasy, you do so entirely at
          your own risk and subject to the terms and conditions of use for such websites.
        </p>
        <p>
          Comment: When using Dasy, you may select something that takes you outside of Dasy and to
          third parties, whether this is your own social media websites or accounts, or other websites or
          providers. Keep in mind that these may not be in the control of Dasy, and that we are not
          responsible for the information contained there. Read up on any terms or conditions of
          usage for any other websites you may access, such as Facebook, LinkedIn, Google +,
          Twitter, Pinterest, etc. as you may still be bound by any agreements they have in place.
        </p>

        <h2>
          Disclaimer of Warranties
        </h2>
        <p>
          You understand that we cannot and do not guarantee or warrant that files available for
          downloading from the internet, or from use of the Products and Services will be free of
          viruses or other destructive code. You are responsible for implementing sufficient procedures
          and checkpoints to satisfy your particular requirements for anti-virus protection and
          accuracy of data input and output, and for maintaining a means external to our site for any
          reconstruction of any lost data.
          WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY A DISTRIBUTED DENIAL-OF-SERVICE ATTACK,
          VIRUSES OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR COMPUTER EQUIPMENT,
          COMPUTER PROGRAMS, DATA OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF THE WEBSITE OR ANY
          SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE OR TO YOUR DOWNLOADING OF ANY MATERIAL POSTED
          ON IT, OR ON ANY WEBSITE LINKED TO IT.
        </p>
        <p>
          YOUR USE OF THE PRODUCTS AND SERVICES, AND ANY CONTENT OR INFORMATION OBTAINED THROUGH DASY IS
           AT YOUR OWN RISK. THE PRODUCTS AND SERVICES AND ANY INFORMATION PROVIDED THROUGH THE WEBSITE IS
           PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS, WITHOUT ANY WARRANTIES OF ANY KIND,
           EITHER EXPRESS OR IMPLIED. NEITHER DASY NOR ANY PERSON ASSOCIATED WITH DASY MAKES ANY
           WARRANTY OR REPRESENTATION WITH RESPECT TO THE COMPLETENESS, SECURITY, RELIABILITY, QUALITY,
           ACCURACY OR AVAILABILITY OF THE INFORMATION FOUND ON DASY OR OUR PRODUCTS AND SERVICES.
           WITHOUT LIMITING THE FOREGOING, NEITHER DASY NOR ANYONE ASSOCIATED WITH DASY REPRESENTS OR
           WARRANTS THAT THE PRODUCTS AND SERVICES, ITS CONTENT OR INFORMATION OBTAINED THROUGH THE
           PRODUCTS OR SERVICES WILL BE ACCURATE, RELIABLE, ERROR-FREE OR UNINTERRUPTED, THAT
           DEFECTS WILL BE CORRECTED, THAT DASY OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF
           VIRUSES OR OTHER HARMFUL COMPONENTS OR THAT THE PRODUCTS AND SERVICES O WILL OTHERWISE MEET
           YOUR NEEDS OR EXPECTATIONS.
        </p>
        <p>
          DASY HEREBY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, STATUTORY OR
          OTHERWISE, INCLUDING BUT NOT LIMITED TO ANY WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT
          AND FITNESS FOR PARTICULAR PURPOSE.
        </p>
        <p>
          THE FOREGOING DOES NOT AFFECT ANY WARRANTIES WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
        </p>

        <h2>
          Limitation/Release of Liability
        </h2>
        <p>
          IN NO EVENT WILL DASY, ITS AFFILIATES OR THEIR LICENSORS, SERVICE PROVIDERS, EMPLOYEES, AGENTS,
          OFFICERS OR DIRECTORS BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, ARISING OUT OF
          OR IN CONNECTION WITH YOUR USE, OR INABILITY TO USE THE PRODUCTS AND SERVICES,
          ANY WEBSITES LINKED TO IT, ANY CONTENT OR INFORMATION FOUND ON THE PRODUCTS AND SERVICES OR
          SUCH OTHER WEBSITES OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE PRODUCTS AND SERVICES OR
          SUCH OTHER WEBSITES, INCLUDING ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR
          PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING,
          EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS,
          LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE),
          BREACH OF CONTRACT OR OTHERWISE, EVEN IF FORESEEABLE.
        </p>
        <p>
          You release, to the fullest extent permitted by law, Dasy, its directors, officers,
          shareholders, employees, representatives, consultants, agents, suppliers, and/or distributors
          from responsibility, liability, claims, demands, and/or damages (actual and consequential)
          of every kind and nature, known and unknown, arising out of or in any way connected with
          the use of the Products and Services.
        </p>
        <p>
          If you are a California resident, you waive California Civil Code §1542, which says:
          "A general release does not extend to claims which the creditor does not know or suspect to
          exist in his favor at the time of executing the release, which if known by him must have
          materially affected his settlement with the debtor."
        </p>
        <p>
          THE FOREGOING DOES NOT AFFECT ANY LIABILITY WHICH CANNOT BE EXCLUDED OR LIMITED UNDER APPLICABLE LAW.
        </p>

        <h2>
          Indemnification
        </h2>
        <p>
          You agree to defend, indemnify and hold harmless Dasy, its affiliates, licensors and
          service providers, and its and their respective officers, directors, employees, contractors,
          agents, licensors, suppliers, successors and assigns from and against any claims, liabilities,
          damages, judgments, awards, losses, costs, expenses or fees (including reasonable attorneys' fees)
          arising out of or relating to your violation of these Terms of Service or your use of
          the Products and Services, including, but not limited to, your User Contributions,
          any use of the content found on Dasy, or any other information other than as
          expressly authorized in these Terms of Service or your use of any information obtained from
          the Products and Services.
        </p>

        <h2>
          Termination
        </h2>
        <p>
          Either party may terminate this Agreement at any time by notifying the other party.
          Dasy may also terminate or suspend your access to or ability to use any and all
          Products and Services immediately, without prior notice or liability, for any reason,
          including but not limited to if you breach any of the terms or conditions of this Agreement.
        </p>
        <p>
          Upon termination of your access to or ability to use the Products and Services in whole or
          in part, including but not limited to suspension of your account, your right to use or access
          specific products or services through Dasy and any User Contributions will immediately cease.
          All provisions of this Agreement which by their nature should survive termination shall
          survive termination, including, without limitation, warranty disclaimers and limitations of
          liability. Termination of your access to and use of the Products and Services shall not
          relieve you of any obligations arising or accruing prior to such termination or limit any
          liability which you otherwise may have to Dasy or any third party.
        </p>

        <h2>
          Legal Disputes
        </h2>
        <p>
          Both Dasy and you agree that we will resolve any claim or controversy at law or equity that
          arises out of this Agreement or the Products and Services in accordance with this section or
          as you and Dasy otherwise agree in writing. Before resorting to litigation, we strongly
          encourage you to contact us directly {hyperlink email or contact page} to seek a resolution.
        </p>
        <p>
          All matters relating to the Products and Services and these Terms of Service and any dispute
          or claim arising therefrom or related thereto (in each case, including non-contractual disputes
          or claims), shall be governed by and construed in accordance with the internal laws of the State of
          California without giving effect to any choice or conflict of law provision or rule
          (whether of the State of California or any other jurisdiction).
        </p>
        <p>
          Any legal suit, action or proceeding arising out of, or related to, these Terms of Service or
          the Website shall be instituted exclusively in the federal courts of the United States or
          the courts of the State of Delaware although we retain the right to bring any suit, action or
          proceeding against you for breach of these Terms of Service in your country of residence or
          any other relevant country. You waive any and all objections to the exercise of jurisdiction
          over you by such courts and to venue in such courts.
        </p>

        <h2>
          Limitation on Time to File Claims
        </h2>
        <p>
          ANY CAUSE OF ACTION OR CLAIM YOU MAY HAVE ARISING OUT OF OR RELATING TO THESE TERMS OF SERVICE
          OR THE WEBSITE MUST BE COMMENCED WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES,
          OTHERWISE, SUCH CAUSE OF ACTION OR CLAIM IS PERMANENTLY BARRED.
        </p>

        <h2>
          Waiver and Severability
        </h2>
        <p>
          No waiver of by Dasy of any term or condition set forth in these Terms of Service shall be
          deemed a further or continuing waiver of such term or condition or a waiver of any other term
          or condition, and any failure of Dasy to assert a right or provision under these
          Terms of Service shall not constitute a waiver of such right or provision.
        </p>
        <p>
          If any provision of these Terms of Service is held by a court or other tribunal of competent
          jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be
          eliminated or limited to the minimum extent such that the remaining provisions of the
          Terms of Service will continue in full force and effect.
        </p>

        <h2>
          Entire Agreement
        </h2>
        <p>
          The Terms of Service and our Privacy Policy constitute the sole and entire agreement between
          you and Dasy with respect to the Products and Services and supersede all prior and
          contemporaneous understandings, agreements, representations and warranties,
          both written and oral, with respect to the Products and Services.
        </p>

        <h2>
          Notice and Assignment
        </h2>
        <p>
          This Agreement is not assignable, transferable, or sublicensable by you except with Dasy'
          prior written consent. Dasy may assign this Agreement in whole or in part at any time without
          your consent. No agency, partnership, joint venture, or employment is created as a result of
          this Agreement and you do not have any authority of any kind to bind Dasy in any respect whatsoever.
          Any notice to Dasy that is required or permitted by this Agreement shall be in writing and
          shall be deemed effective upon receipt, when delivered in person by nationally recognized
          overnight courier or mailed by first class, registered or certified mail, postage prepaid, to:
          Dasy Labs, Inc.
          1064 Wilsham Dr., San Jose, CA 95132.
        </p>

        <h2>
          Your Comments and Concerns
        </h2>
        <p>
          All other feedback, comments, requests for technical support and other communications
          relating to the Website should be directed to:
          <a href="mailto:{{ LEGAL_EMAIL }}">{{ LEGAL_EMAIL }}</a>
        </p>
        <p>
          If you believe that any User Contributions violate your copyright, please contact us at
          <a href="mailto:{{ LEGAL_EMAIL }}">{{ LEGAL_EMAIL }}</a> for instructions on sending us a notice of
          copyright infringement. It is our policy to terminate the user accounts of repeat infringers.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
