{% if SHOW_ADS %}
  {% if ADSENSE_ID %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "{{ ADSENSE_ID }}",
        enable_page_level_ads: true
      });
    </script>
  {% endif %}
  {% if PROPELLER_ID %}
    <meta name="propeller" content="{{ PROPELLER_ID }}" />
  {% endif %}
  {% if PROPELLER_URL %}
    <script src="{{ PROPELLER_URL }}"></script>
  {% endif %}
{% endif %}
