<footer class="footer text-center py-4">
  <div class="container">
    <div>Copyright &copy;{{ year or 2016 }} Dasy Labs, Inc.</div>
    <a href="/privacy-policy">Privacy Policy</a>
    <span class="mx-1"></span>
    <a href="/terms">Terms</a>
  </div>
</footer>
