<footer class="footer">
  <div class="container clearfix">
    <div class="pull-md-left text-md-left">
      <span>Copyright &copy;{{ year or 2016 }} Dasy Labs, Inc.</span>
    </div>
    <div class="pull-md-right text-md-right">
      <a href="/privacy-policy">Privacy Policy</a>
    </div>
  </div>
</footer>
