<nav class="navbar navbar-toggleable-sm navbar-inverse bg-primary">
  <div class="container d-flex">
    <a class="navbar-brand" href="#">SpeakerBox</a>

    <ul class="navbar-nav align-self-end">
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/dasylabs" target="_blank" rel="noopener noreferrer">
          Twitter
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.facebook.com/dasylabs" target="_blank" rel="noopener noreferrer">
          Facebook
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://speakerbox.freshdesk.com" target="_blank" rel="noopener noreferrer">
          Support
        </a>
      </li>
      {% if user %}
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/sso">Sign In</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
