$menu-width: 60px;

.menu {
  background: $brand-primary;
  color: tint($brand-primary, 85%);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: 0.4s width ease-in-out;
  width: $menu-width;

  &:hover {
    width: 320px;

    %menu-fadeable {
      opacity: 1;
    }
  }

  a {
    color: inherit;

    &:hover {
      color: #fff;
    }
  }
}

%menu-fadeable {
  opacity: 0;
  transition: 0.4s opacity ease-in-out;
}

.menu-title {
  padding-left: 0.55em;
}

.menu-title-text {
  @extend %menu-fadeable;
}

.menu-nav-link {
  display: block;
  padding: 0.35em 1.2em;
  margin-bottom: 0.5em;
  white-space: nowrap;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.menu-nav-icon {
  font-size: 1.5em;
  margin-right: 0.2em;
  vertical-align: middle;
}

.menu-nav-label {
  @extend %menu-fadeable;
  vertical-align: middle;
}

.has-menu {
  padding-left: $menu-width;
}
