.sb-post-retweet-button {
  display: inline-block;
  position: relative;

  > .form {
    background: #fff;
    box-shadow: $shadow;
    border-radius: $border-radius;
    border: 1px solid $border;
    flex-wrap: nowrap;
    padding: $spacer-y $spacer-x;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
    top: 100%;

    > .rdt {
      margin-right: $spacer-x;
    }

    .form-control {
      min-width: rem(200px);
    }
  }
}
