.sb-al-menu {
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;
}

/* ul */.sb-al-list {
  font-size: $font-size-sm;
  list-style: none;
  padding: 0;
}

/* li */.sb-al-item {}

/* a */.sb-al-link {
  display: block;
  padding: ($spacer-y / 3) $spacer-x;

  > /* label */.custom-checkbox {
    margin: 0;
  }
}

/* h */.sb-al-heading {
  font-size: inherit;
  padding-left: $spacer-x;
  padding-right: $spacer-x;
  margin-bottom: .5rem;
}

.sb-al-menu .sb-divider {
  margin-bottom: .5rem;
}
